:root {
  --primary-color: #E62332;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547; 
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) { /* Updated for dark mode */
  :root {
    color: rgba(255, 255, 255, 0.87); 
    background-color: #242424;
  }
  a:hover { color: #ff9a9a; }
  button { background-color: #1a1a1a; }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.status-container {
  text-align: center;
  margin-bottom: 20px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align the table and the form at the top */
  width: 100%;
}
.table-container,
.form-container {
  flex: 1;
  padding: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover { border-color: #ff9a9a; }
button:focus, button:focus-visible { outline: 4px auto -webkit-focus-ring-color; }
table > tbody > tr > td > button, .content > button { 
  background-color: var(--primary-color);
  width: 100%;
  margin: 0.25em 0 0.25em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1em;
  border: 1px solid #ccc;
}

th { background-color: var(--primary-color); }

form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin: 2em 2em 0 2em;
}

form > label { font-weight: bold; align-self: flex-start; }
form > input { padding: 0.5em; border: 1px solid #ccc; border-radius: 0.25em; }

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.status > p, .matchDatapoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25em 0;
}

.status-ok, .status-error {
  display: flex;
  align-items: center;
}

.status-ok { color: green; }
.status-error { color: red; }

.circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-right: 0.5em;
}
